@charset "utf-8";

.register-container {
  display: flex;
  justify-content: center;
}

.register-form {
  position: absolute;
  display: block;
  text-align: center;
  padding: 30px 30px 110px 30px;
  margin-top: 30px;
  width: 246px;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}

.register-form h2 {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 30px;
}

.label-username {
  color: #fff;
  font-size: 0.8rem;
  margin: 0px 0px 7px 12px;
  text-align: left;
}

.label-mailadress,
.label-password,
.label-password-confirm {
  color: #fff;
  font-size: 0.8rem;
  margin: 20px 7px 7px 12px;
  text-align: left;
}

.input {
  width: 90%;
  border-radius: 4px;
}

.input-password input,
.input-password-confirm input {
  width: 90%;
  border-radius: 4px;
}

.register-btn {
  text-align: right;
}

.register-btn input {
  width: 100px;
  margin: 20px 8px 0 0;
  color: #fff;
  background-color: #5863A2;
  border-radius: 5px;
}

.login-link {
  margin-top: 35px;
}

.login-link a {
  color: #fff;
  font-size: 0.7rem;
}
