@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

/* アコーディオンメニュー */
/* 矢印ボタン */
#accordion-menu span:nth-child(1){
    top:6px;
}
#accordion-menu span:nth-child(2){
    top:18px;
}

/* 矢印回転 */
#accordion-menu.active span:nth-child(1){
    top: 18px;
    transform: rorate(-45deg);
}
#accordion-menu.active span:nth-child(2){
    top: 18px;
    transform: rorate(45deg);
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}
